*{
    padding: 0;
    margin: 0;
}

a {
    color: #000000;
    margin-left: 85%;
}

div {
    margin: 0.5cm;
}

html {
    background-color: #faebd7;
}

.title {
    cursor: pointer;
    font-size: 3rem;
    font-weight: 450;
}

body {
    color:black;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    border-bottom: 2px solid #000000;
    width: 98%;
}
    
#clock {
    margin-top: 15px;
     font-size: 30px;
}
    
#field{ 
     width: 97%;
}
    
.card {
     width:70px;
     height:100px;
     line-height:100px;
     text-align: center;
     border-radius:10px;
     font-size:35px;
     margin:9px;
     float:left;
     background-color: rgb(203, 74, 74);
}
    